[submodule "STM32F4/GPS_UPGRADE"]
	path = STM32F4/GPS_UPGRADE
	url = git@github.com:David-LeK/GPS_UPGRADE.git
[submodule "QtApplication/AutonomousRobot"]
	path = QtApplication/AutonomousRobot
	url = git@github.com:David-LeK/AutonomousRobot.git
